@model (IOTEST.IoContext.User User,List<IoContext.Test> Tests)
@{
    ViewData["Title"] = "IOTEST - Main";
}
@section ScriptsBefore
{
    <link href="css/Index.css" rel="stylesheet" asp-append-version="true"/>
}
@section ScriptsAfter
{
    <script src="js/Index.js" asp-append-version="true" type="module"></script>
}
<header>
    <nav class="navbar navbar-dark" style="background-color:rgba(45, 51, 51, 0.50)">
        <div class="container-fluid ">
            <a class="navbar-brand user-select-none DOB d-none d-sm-block" href="#">
                <img src="~/Icons/144x144.png" alt="" width="35" height="35" class="d-inline-block align-top">
                <span>
                    TEST system
                </span>
            </a>
            <span class="DOB navbar-brand float-left ml-auto user-select-none border-1 border-dark" style="cursor: pointer" v-on:click="location.href='/me'">
                <span class="mr-1">@Model.User.FirstName</span>
                <span class="mr-2">@Model.User.FamilyName</span>
                <img src="@Model.User.Image" alt="" width="35" height="35" class="d-inline-block align-top rounded-circle">
            </span>
        </div>
    </nav>
</header>
<div id="Page" class="user-select-none container-fluid  text-light text-center">
    <div class="row" v-cloak>
        <div class="col-12 col-md-4 order-0 order-md-1 offset-md-4">
            <div class="bg-dark mt-4 rounded">
                <div class="form-group DOB p-2 row d-flex   justify-content-center">
                    <label for="InputCodeTest">{{Lang.indexEnterTestCode}}</label>
                    <div class="px-5">
                        <input type="text" v-model="code" value="" id="InputCodeTest" class="my-2 form-control text-center bg-dark text-light border-2 border-light"/>
                    </div>
                    <button v-on:click="GotoModel" class="btn btn-outline-light my-3 col-6">{{Lang.indexGotoTest}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 order-1 order-md-2 DOB">
            @{
                foreach (var g in Model.Tests)
                {
                    @if (Model.Tests.First() == g)
                    {
                        <h4 class="text-light text-center mt-3 bg-dark">{{Lang.indexTestsToPass}}</h4>
                        <hr>
                    }
                    <div class="p-1 row bg-dark m-1" v-on:click="location.href='/test/@g.Key'">
                        <div class="col-12">
                            <h4 class="text-light text-center">@g.Name</h4>
                            <h6 class="text-light text-center">@g.Key</h6> 
                        </div>
                    </div>
                    <hr>
                }
            }
        </div>
    </div>
</div>