@using Newtonsoft.Json
@model (IoContext.User User,IoContext.Test Test)
@{
    ViewData["Title"] = $"IOTEST - {Model.Test.Name}";
}

@section ScriptsAfter
{

    <script src="lib/Pixijs/pixi.js"></script>
    <script src="js/TestCore.js" asp-append-version="true"></script>
    <script src="js/Test.js" asp-append-version="true" type="module"></script>
}

<header>
    <nav class="navbar navbar-dark" style="background-color:rgba(45, 51, 51, 0.50)">
        <div class="container-fluid ">
            <a class="navbar-brand user-select-none DOB d-none d-sm-block" href="/">
                <img src="~/Icons/144x144.png" alt="" width="35" height="35" class="d-inline-block align-top">
                <span>
                    Test
                </span>
            </a>
            <span class="DOB navbar-brand float-left ml-auto">
                <span class="mr-1">@Model.User.FirstName</span>
                <span class="mr-2">@Model.User.FamilyName</span>
                <img src="@Model.User.Image" alt="" width="35" height="35" class="d-inline-block align-top rounded-circle">
            </span>
        </div>
    </nav>
</header>

<script v-if="false">    
    @{
        var test = JsonConvert.DeserializeObject<IoContext.Test>(JsonConvert.SerializeObject(Model.Test));
        var levels = test.JsonData;
        test.JsonData = "";
        var testJson = JsonConvert.SerializeObject(test);
    }
     window.Levels = JSON.parse('@Html.Raw(levels)');
     window.Test = JSON.parse('@Html.Raw(testJson)');
    </script>

<div id="Page" class="user-select-none container-fluid" v-cloak>
    <div class="row mt-1">
        <div class="col-12 offset-0 col-sm-10 offset-sm-1 mt-3 col-lg-8 offset-lg-2 offset-xl-3 col-xl-6   DOB" style="background-color:rgba(45, 51, 51, 0.50)">
            <div v-if="Test">


                <div v-show="PageNow===0">
                    <div id="head" class="text-left row pt-2">
                        <h4 class="text-light mt-2 col-8">Тестирование</h4>
                        <hr class="bg-light my-2"/>
                    </div>
                    <div id="startMain" class="text-center text-light">
                        <div>
                            <div id="startTextTitle">
                                <h2>{{Test.Name}}</h2>
                            </div>
                            <hr>
                            <div id="startTextDescription">
                                <h6>{{Test.Description}}</h6>
                            </div>
                            <hr>
                            <div id="startParams" class="d-flex justify-content-around mb-3">
                                <button class="btn btn-outline-light" v-on:click="location.href='/'">На главную</button>
                                <button class="btn btn-outline-light" v-on:click="PageNow = 1">Приступить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-show="PageNow===1">
                    <div id="testHead" class="text-left row pt-2">
                        <h4 class="text-light mt-2 text-center text-md-left" v-if="LevelNow">{{LevelNow.Name}}</h4>
                        <hr class="bg-light my-2"/>
                    </div>
                    <div id="testMain" class="text-center text-light  DOB">
                        <div v-show="!TestPage" id="ConditionBlock">
                            <div id="ConditionText" class="container">
                                <h4 v-if="LevelNow">
                                    {{LevelNow.Description}}
                                </h4>
                            </div>
                        </div>
                        <div v-show="TestPage" id="InteractiveBlock">
                            <canvas id="canva"></canvas>
                        </div>
                    </div>
                    <hr class="bg-light"/>
                    <div id="testFooter" class=" d-flex justify-content-around mb-3 ">
                        <button class="btn btn-outline-light" v-on:click="PassLevel()">Сдать</button>
                        <button class="btn btn-outline-light" v-on:click="TestPage = !TestPage">{{TestPage?"Условие":"К выполнению"}}</button>
                    </div>
                </div>
                <div v-show="PageNow===2">
                    <div id="endhead" class="text-left row pt-2">
                        <h4 class="text-light mt-2 col-8">Результаты</h4>
                        <hr class="bg-light my-2"/>
                    </div>
                    <div id="endMain" class="text-center text-light">
                        <div>
                            <div id="endTextTitle">
                                <h2>Тест пройден</h2>
                            </div>
                            <hr>
                            <div id="endText">{{Test.FinalText}}</div>
                            <hr>
                             <div id="endParams" class=" d-flex justify-content-around mb-3 ">
                                 <span class="list-group-item bg-dark col-12 col-sm-6 col-md-4 offset-md-0">Результат: </span>
                                <button class="btn btn-outline-light col-12 col-sm-6 col-md-4 offset-md-4 " v-on:click="location.href='/'">На главную</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>