@model (IOTEST.IoContext.User User,IOTEST.IoContext.Test Test, int Id)
@{
    ViewData["Title"] = "Test Creator";
}

@section ScriptsBefore
{
    <script src="lib/Pixijs/pixi.js"></script>
    <script src="js/TestCore.js" asp-append-version="true"></script>
}

@section ScriptsAfter
{
    <script src="js/TestCreator.js" asp-append-version="true" type="module"></script>
}

<header>
    <nav class="navbar navbar-dark" style="background-color:rgba(45, 51, 51, 0.50)">
        <div class="container-fluid ">
            <a class="navbar-brand user-select-none DOB d-none d-sm-block" href="/">
                <img src="~/Icons/144x144.png" alt="" width="35" height="35" class="d-inline-block align-top">
                <span>
                    TEST system
                </span>
            </a>
            <span class="DOB navbar-brand float-left ml-auto user-select-none border-1 border-dark" style="cursor: pointer" v-on:click="location.href='/me'">
                <span class="mr-1">@Model.User.FirstName</span>
                <span class="mr-2">@Model.User.FamilyName</span>
                <img src="@Model.User.Image" alt="" width="35" height="35" class="d-inline-block align-top rounded-circle">
            </span>
        </div>
    </nav>
</header>
<script>
const MyMail = "@Model.User.Gmail";
const TestKey = "@Model.Test.Key";
const TestId = "@Model.Id";
</script>
<div id="Page" class="user-select-none container-fluid" v-cloak>
<div class="row mt-1">
<div class="col-10 offset-1  DOB" style="background-color:rgba(45, 51, 51, 0.50)">
<div class="row">
<div class="col-3">
<div class="text-left row pt-2" v-show="Core">
    <h4 class="text-light mt-2 text-center text-md-left">
        <span v-if="MenuMode == 0">
            {{Lang.TestMenu}}
        </span>
        <span v-else-if="MenuMode == 1">
            {{Lang.TestResource}}
        </span>
        <span v-else-if="MenuMode == 2">
            {{Lang.TestAdd}}
        </span>
        <span v-else-if="MenuMode == 20">
            {{Lang.TestObject}}
        </span>
        <span v-else-if="MenuMode == 30">
            {{Lang.TestObject}}
        </span>
        <span v-else-if="MenuMode == 40">
            {{Lang.TestTriggers}}
        </span>
        <span v-else-if="MenuMode == 41">
            {{Lang.TestTrigger}}
        </span>
        <span v-else-if="MenuMode == 50">
            {{Lang.TestPosition}}
        </span>
        <span v-else-if="MenuMode == 60">
            {{Lang.TestAnimations }}
        </span>
        <span v-else-if="MenuMode == 61">
            {{Lang.TestAnimation }}
        </span>
        <span v-else-if="MenuMode == 100">
            {{Lang.TestTask }}
        </span>

    </h4>
    <hr class="bg-light my-2"/>
</div>
<div class="flex-row justify-content-center">
<div v-if="MenuMode == 0">
    <div class="d-grid justify-content-center">
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="MenuMode = 1">{{Lang.TestResource}}</a>
        </div>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="MenuMode = 2">{{Lang.TestAdd}}</a>
        </div>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="MenuMode = 50">{{Lang.TestPosition}}</a>
        </div>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="MenuMode = 100">{{Lang.TestTask}}</a>
        </div>

    </div>
</div>
<div v-if="MenuMode == 1">
    <div>
        <div>
            <div v-if="AddResourceMode===0">
                <div style="max-height: 40vh; overflow-y:auto;overflow-x: hidden" v-if="Core.Resources.length>0">
                    <div v-for="r in Core.Resources">
                        <div class="p-1 row">
                            <div class="col-12">
                                <h6 class="text-light text-center">{{r.Name}}</h6>
                            </div>
                            <div class="col-4 offset-4">
                                <img class="img-fluid bg-light" src="" v-bind:src="r.Url" alt="">
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div v-else>
                    <h4 class="text-light text-center">{{Lang.TestsEmpty}}</h4>
                </div>
                <div class="p-1 d-flex justify-content-center">
                    <a class="btn btn-outline-light" v-on:click="AddResource()">{{Lang.TestList}}</a>
                </div>
                <div class="p-1 d-flex justify-content-center">
                    <a class="btn btn-outline-light" v-on:click="MenuMode = 0">{{Lang.meGetBack}}</a>
                </div>
            </div>
            <div v-if="AddResourceMode===1" class="border-1">
                <div style="max-height: 40vh; overflow-y:auto;overflow-x: hidden">
                    <div v-for="(r,i) in ResourcesAw" v-on:click="AddResourcesSelect(r)">
                        <div class="p-1 row" v-bind:class="{'bg-success':(ResourcesAwSelected.includes(r))}">
                            <div class="col-12">
                                <h6 class="text-light text-center">{{r.Name}}</h6>
                            </div>
                            <div class="col-4 offset-4">
                                <img class="img-fluid bg-light" src="" v-bind:src="r.Url" alt="">
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <hr class="mt-1">
                <div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-light" v-on:click="AddResources()">{{Lang.TestAdd}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div v-if="MenuMode == 2">
    <div>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="AddObjectMenu(true)">{{Lang.TestObject}}</a>
        </div>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="AddText">{{Lang.textText}}</a>
        </div>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="MenuMode= 40">{{Lang.TestTrigger}}</a>
        </div>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="MenuMode= 60">{{Lang.TestAnimation}}</a>
        </div>
        <hr>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="MenuMode = 0">{{Lang.meGetBack}}</a>
        </div>

    </div>
</div>
<div v-if="MenuMode == 20">
    <div class="p-3 row">
        <div v-if="Core.Resources.length>0">
            <div style="max-height: 20vh; overflow-x: hidden">
                <div v-for="r in Core.Resources" v-on:click="nObj.Resource = r">
                    <div class="p-1 row" v-bind:class="{'bg-success':nObj.Resource==r}">
                        <div class="col-12">
                            <h6 class="text-light text-center">{{r.Name}}</h6>
                        </div>
                        <div class="col-4 offset-4">
                            <img class="img-fluid bg-light" src="" v-bind:src="r.Url" alt="">
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="col-12">
                <h6 class="text-light text-center">{{Lang.TestRecoursesNotFound}}</h6>
            </div>
        </div>
        <hr>
        <div class="col-4">
            <h3 class="text-light text-center">X:</h3>
        </div>
        <div class="col-6">
            <input v-model.number="nObj.X" min="0" step="50" type="number" class="form-control text-center bg-dark text-light border-1 border-light"/>
        </div>
        <div class="col-4">
            <h3 class="text-light text-center">Y:</h3>
        </div>
        <div class="col-6">
            <input v-model.number="nObj.Y" min="0" step="50" type="number" class="form-control text-center bg-dark text-light border-1 border-light"/>
        </div>
        <div class="col-12">
            <h5 class="text-light text-center">{{Lang.TestSize}}: {{nObj.ScaleX}} </h5>
        </div>

        <div class="col-12">
            <input v-model.number="nObj.ScaleX" v-on:input="nObj.ScaleY = nObj.ScaleX" min="0.01" max="3" step="0.01" type="range" class="form-range text-center bg-dark text-light border-1 border-light"/>
        </div>
    </div>
    <div class="p-3">
        <a class="btn btn-outline-light" v-if="nObj.Resource" v-on:click="AddElement">{{Lang.TestAdd}}</a>
        <hr class="my-1">
        <a class="btn btn-outline-light" v-on:click="MenuMode = 2">{{Lang.meGetBack}}</a>

    </div>
</div>
<div v-if="MenuMode == 30">
    <div class="p-1 row d-flex justify-content-center">

        <div class="col-9" v-if="EditTextData">
            <input v-model="EditTextData.text" v-on:input="EditObj.SetText(EditTextData.text,EditTextData.color)" type="text" class="form-control text-center bg-dark text-light border-1 border-light mb-2"/>
        </div>
        <div class="col-3" v-if="EditTextData">
            <div>
                <input v-model="EditTextData.color" v-on:input="EditObj.SetText(EditTextData.text,EditTextData.color)" type="color" class="form-control form-control-color bg-dark border-1 border-light mt-1"/>
            </div>

        </div>
        <hr v-if="EditTextData">
        <div class="col-4">
            <h3 class="text-light text-center">X:</h3>
        </div>
        <div class="col-8">
            <input v-model.number="EditObj.Sprite.x" min="0" step="50" type="number" class="form-control text-center bg-dark text-light border-1 border-light"/>
        </div>
        <div class="col-4">
            <h3 class="text-light text-center">Y:</h3>
        </div>
        <div class="col-8">
            <input v-model.number="EditObj.Sprite.y" min="0" step="50" type="number" class="form-control text-center bg-dark text-light border-1 border-light"/>
        </div>
        <div class="col-12">
            <h5 class="text-light text-center">{{Lang.TestSize}}: {{EditObj.Sprite.scale.x}} </h5>
        </div>
        <div class="col-12">
            <input v-model.number="EditObj.Sprite.scale.x" v-on:input="EditObj.Sprite.scale.y = EditObj.Sprite.scale.x" min="0.01" max="3" step="0.01" type="range" class="form-range text-center bg-dark text-light border-1 border-light"/>
        </div>
        <div class="col-12">
            <h5 class="text-light text-center">{{Lang.TestRotation}}: {{EditObj.GetRotation()}}° </h5>
        </div>
        <div class="col-12">
            <input v-model="EditObj.Sprite.rotation" min="0" max="6.29" step="0.01" type="range" class="form-range text-center bg-dark text-light border-1 border-light"/>
        </div>
        <div class="col-10 offset-1 text-center p-1">
            <div class="form-check">
                <label for="editObjVisible" class="text-light">{{Lang.TestVisibility}}</label>
                <input id="editObjVisible" v-model="EditObj.Sprite.visible" type="checkbox" class="form-check-input">
            </div>
        </div>
        <div class="col-11 text-center p-1">
            <div class="form-check">
                <label for="editObjMovable" class="text-light">{{Lang.TestDraggable}}</label>
                <input id="editObjMovable" v-model="EditObj.CanMove" type="checkbox" class="form-check-input">
            </div>
        </div>
        <div class="col-11 text-center p-1">
            <div class="form-check">
                <label for="editObjBtnMode" class="text-light">{{Lang.TestPressed}}</label>
                <input id="editObjBtnMode" v-model="EditObj.Sprite.buttonMode" type="checkbox" class="form-check-input">
            </div>
        </div>
        <div class="col-11 text-center p-1">
            <div class="form-check">
                <label for="editObjTrg" class="text-light">{{Lang.TestTriggerNiy}}</label>
                <input id="editObjTrg" v-model="EditObj.Triggerable" type="checkbox" class="form-check-input">
            </div>
        </div>
        <div class="col-11 text-center p-1">
            <div class="d-flex justify-content-evenly">
                <span v-on:click="MoveZObject(EditObj,0)">
                    <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 330 330" xml:space="preserve" style="fill: #567478">
                        <path d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
                   	c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
                   	s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
                    </svg>

                </span>
                <span v-on:click="MoveZObject(EditObj,1)">
                    <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 330 330" xml:space="preserve" style="fill: #567478">
                        <path d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                                   	l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                                   	C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                    </svg>

                </span>

            </div>
        </div>
    </div>
    <div class="p-3">
        <a class="btn btn-outline-light" v-on:click="MenuMode = 0">{{Lang.meGetBack}}</a>
    </div>
</div>
<div v-if="MenuMode == 40">
    <div class="p-1 row d-flex justify-content-center">
        <div style="max-height: 20vh; overflow-x: hidden">
            <div v-for="r in Core.Triggers">
                <div class="p-1 row">
                    <div class="col-4">
                        <div class="d-flex justify-content-center">
                            <img src="~/Images/trash.svg" class="" width="32" height="32" alt="" v-on:click="DestroyTrigger(r)">
                        </div>
                    </div>
                    <div class="col-4" v-on:mouseover="r.Hover = true" v-on:mouseleave="r.Hover = false">
                        <h6 class="text-light text-center">{{r.Id}}</h6>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center">
                            <img src="~/Images/application.svg" class="" width="32" height="32" alt="" v-on:click="EditTrigger(r)">
                        </div>

                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="AddTrigger">{{Lang.TestAdd}}</a>
        </div>
    </div>
    <div class="p-3">
        <a class="btn btn-outline-light" v-on:click="MenuMode = 2">{{Lang.meGetBack}}</a>
    </div>
</div>
<div v-if="MenuMode == 41">
    <div class="p-1 row d-flex justify-content-center">
        <div class="col-4">
            <h3 class="text-light text-center">X:</h3>
        </div>
        <div class="col-8">
            <input v-model.number="EditedTrigger.X" min="0" step="25" type="number" class="form-control text-center bg-dark text-light border-1 border-light"/>
        </div>
        <div class="col-4">
            <h3 class="text-light text-center">Y:</h3>
        </div>
        <div class="col-8">
            <input v-model.number="EditedTrigger.Y" min="0" step="25" type="number" class="form-control text-center bg-dark text-light border-1 border-light"/>
        </div>

        <div class="col-12">
            <h5 class="text-light text-center">{{Lang.TestSize}}: {{EditedTrigger.Size}} </h5>
        </div>

        <div class="col-12">
            <input v-model.number="EditedTrigger.Size" min="10" max="1000" step="0.01" type="range" class="form-range text-center bg-dark text-light border-1 border-light"/>
        </div>
        <div class="col-10 offset-1 text-center p-1">
            <div class="form-check">
                <label for="editTrgVisible" class="text-light">{{Lang.TestVisibility}}</label>
                <input id="editTrgVisible" v-model="EditedTrigger.Visual" type="checkbox" class="form-check-input">
            </div>
        </div>
        <div class="col-10 offset-1 text-center p-1">
            <div class="form-check">
                <label for="editTrgMagnetic" class="text-light">{{Lang.TestMagnetic}}</label>
                <input id="editTrgMagnetic" v-model="EditedTrigger.Magnetic" type="checkbox" class="form-check-input">
            </div>
        </div>
        <hr>
        <div class="p-3">
            <a class="btn btn-outline-light" v-on:click="MenuMode = 40">{{Lang.meGetBack}}</a>
        </div>
    </div>
</div>
</div>

<div v-if="MenuMode == 50">
    <div class="p-1 row d-flex justify-content-center">

        <span class=" d-flex justify-content-center">
            <h6 class="text-light text-center">
                {{Lang.TestALotOfText}}
                <br>
                <small>{{Lang.TestCorrectAnswer}}:</small>
            </h6>
        </span>
        <span class=" d-flex justify-content-center">
            <small class="text-light  m-0" v-if="Core.CorrectState">
                {{Core.CorrectState.trg}}
            </small>
            <h6 class="text-light m-0" v-else>
                {{Lang.TestMissing}}
            </h6>
        </span>
        <hr class="m-0">
        <span class=" d-flex justify-content-center">
            <h6 class="text-light text-center">
                <small>{{Lang.TestCurrent}}:</small>
            </h6>
        </span>
        <span class=" d-flex justify-content-center">
            <small class="text-light  m-0" v-if="Core.GetState()">
                {{Core.GetState().trg}}
            </small>
            <h6 class="text-light  m-0" v-else>
                {{Lang.TestNoTriggers}}
            </h6>
        </span>

        <hr>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="Core.CorrectState = Core.GetState()">{{Lang.TestSave}}</a>

        </div>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="MenuMode = 0">{{Lang.meGetBack}}</a>
        </div>
    </div>
</div>
<div v-if="MenuMode == 60">
    <div class="p-1 row d-flex justify-content-center">
        <div class="p-1 row d-flex justify-content-center">
            <div style="max-height: 20vh; overflow-x: hidden">
                <div v-for="(r,i) in Core.Animations">
                    <div class="p-1 row">
                        <div class="col-4">
                            <div class="d-flex justify-content-center">
                                <img src="~/Images/trash.svg" class="" width="32" height="32" alt="" v-on:click="DestroyAnimation(r)">
                            </div>
                        </div>
                        <div class="col-4">
                            <h6 class="text-light text-center">{{i+1}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="d-flex justify-content-center">
                                <img src="~/Images/application.svg" class="" width="32" height="32" alt="" v-on:click="EditAnimation(r)">
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <hr>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="AddAnimation">{{Lang.TestAdd}}</a>

        </div>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="MenuMode = 0">{{Lang.meGetBack}}</a>
        </div>
    </div>
</div>
<div v-if="MenuMode == 61">
    <div class="p-1 row d-flex justify-content-center" style="max-height: 60vh; overflow-x: hidden; overflow-y: auto">
        <div>
            <h3 class="text-light text-center">{{Lang.TestTaskAnim}}:</h3>
            <div style="max-height: 15vh; overflow-x: hidden; overflow-y: auto" v-if="EditAnimData.Activators.length">
                <div v-for="ax in EditAnimData.Activators" class="m-1 p-1 ">
                    <div class="form-group">
                        <select v-model="ax.Event" class="text-center text-light bg-transparent form-control">
                            <option v-for="nxd in 4" class="bg-dark text-light" v-bind:value="nxd-1">{{Animation.ActivatorsNames(nxd-1)}}</option>
                        </select>
                        <div v-if="ax.Event ===3||ax.Event ===2" class="d-flex flex-wrap">
                            <div v-for="(an,i) in ax.Selector.concat([''])" class="col-4 m-1">
                                <input v-model.number="ax.Selector[i]" v-on:change="CheckEventSelectors(ax)" class="form-control text-center text-light border-1 bg-transparent mt-1"/>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="~/Images/trash.svg" class="" width="32" height="32" alt="" v-on:click="EditAnimData.Activators = EditAnimData.Activators.filter(function(value){return value !==ax;});">
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <h6 class="text-light m-0 text-center" v-else>
                Умов не виявлено
            </h6>
            <div class="p-3 d-flex justify-content-center">
                <a class="btn btn-outline-light" v-on:click="AddActivator">Додати умову</a>
            </div>
        </div>
        <hr>
        <div>
            <h3 class="text-light text-center"> Події:</h3>
            <div style="max-height: 15vh; overflow-x: hidden; overflow-y: auto" v-if="EditAnimData.EventActions.length">
                <div v-for="ax in EditAnimData.EventActions" class="m-1 p-1">
                    <div class="form-group">
                        <select v-model="ax.Event" class="text-center text-light bg-transparent form-control">
                            <option v-for="nxd in 3" class="bg-dark text-light" v-bind:value="nxd-1">{{Animation.ActionNames(nxd-1)}}</option>
                        </select>
                        Об'єкти:
                        <div class="d-flex flex-wrap">
                            <div v-for="(an,i) in ax.Selector.concat([''])" class="col-4 m-1">
                                <input v-model.number="ax.Selector[i]" v-on:change="CheckEventSelectors(ax)" class="form-control text-center text-light border-1 bg-transparent mt-1"/>
                            </div>
                        </div>
                        Значення:
                        <div class="d-flex flex-wrap">
                            <div v-for="(an,i) in 2" class="col-4 m-1">
                                <input v-model.number="ax.Value[i]" class="form-control text-center text-light border-1 bg-transparent mt-1"/>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <img src="~/Images/trash.svg" class="" width="32" height="32" alt="" v-on:click="EditAnimData.EventActions = EditAnimData.EventActions.filter(function(value){return value !==ax;});">
                        </div>

                    </div>
                </div>
            </div>
            <h6 class="text-light m-0 text-center" v-else>
                Подій не виявлено
            </h6>
            <div class="p-3 d-flex justify-content-center">
                <a class="btn btn-outline-light" v-on:click="AddEventAction">Додати подію</a>
            </div>
        </div>
        <hr>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="MenuMode = 60">{{Lang.meGetBack}}</a>
        </div>
    </div>
</div>
<div v-if="MenuMode == 100">
    <div class="p-1 row d-flex justify-content-center">
        <div>
            <h3 class="text-light text-center">{{Lang.textsText}}:</h3>
            <textarea v-model="Core.Description" class="form-control text-center bg-dark text-light border-2 border-light"></textarea>
        </div>

        <hr>
        <div class="p-3 d-flex justify-content-center">
            <a class="btn btn-outline-light" v-on:click="MenuMode = 0">{{Lang.meGetBack}}</a>
        </div>
    </div>
</div>
</div>

<div class="col-7">
    <div>
        <div id="TestHead" class="text-left row pt-2">
            <input style="border-color: transparent" m v-if="Core" v-model="Core.Name" type="text" class="form-control text-center text-light border-1 bg-transparent mt-2"/>
            <hr class="bg-light my-2"/>
        </div>
        <div id="TestMain" class="text-center text-light  DOB">
            <div id="InteractiveBlock">
                <canvas id="TestCanvas"></canvas>
            </div>
        </div>
        <div id="TestFooter" class="text-left  pt-2 mt-0  row">
            <hr class="bg-light md-2 mt-0"/>
        </div>
    </div>
</div>
<div class="col-2" v-if="Core">
    <div class="text-left row pt-2">
        <h4 class="text-light mt-2 text-center text-md-left">{{Lang.TestScene}}</h4>
        <hr class="bg-light my-2"/>
    </div>
    <div>
        <div style="overflow-x: hidden; overflow-y: auto; max-height: 50vh">
            <div v-for="obj in Core.Request('getObjects')" v-if="obj.Resource">
                <div class="p-1 row">
                    <div class="col-12">
                        <h6 class="text-light text-center">
                            <span v-if="obj.Resource.Name">
                                {{obj.Resource.Name}}
                            </span>
                            <span v-else v-bind:style="{'color':obj.GetText().color}">
                                {{obj.GetText().text}}
                            </span>
                            - {{obj.Id}}
                        </h6>
                        <div class="con">
                            <div class="row">
                                <div class="col-4">
                                    <div class="d-flex justify-content-center">
                                        <img src="~/Images/application.svg" class="" width="32" height="32" alt="" v-on:click="EditObject(obj)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <span v-if="obj.Resource.Name" class="d-flex justify-content-center">
                                        <img class="img-fluid bg-light" style="min-height: 35px;min-width: 35px" src="" v-bind:src="obj.Resource.Url" alt="">
                                    </span>
                                    <span v-else class="d-flex justify-content-center">
                                        <img class="img-fluid" style="min-height: 35px;min-width: 35px" src="Images/text-icon-667.png" alt="">
                                    </span>
                                </div>
                                <div class="col-4">
                                    <div class="d-flex justify-content-center">
                                        <img src="~/Images/trash.svg" class="" width="32" height="32" alt="" v-on:click="DestroyObject(obj)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-1">
            </div>
        </div>
    </div>
</div>
<div class="container" v-if="Core">
    <div class="row">
        <div class="p-3 col-5">
            <a class="btn btn-outline-light" href="/tests">{{Lang.TestExit}}</a>
        </div>
        <div class="p-3  col-5">
            <button class="btn btn-outline-light" v-on:click="SaveTest" v-bind:class="{'disabled': NeedSave()}">{{Lang.TestSave}}</button>
        </div>
    </div>

</div>
</div>
</div>
</div>
</div>